@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #fdfaf8;
    margin: 0;
    display: flex;
    justify-content: center;
}

.container {
    max-width: 500px;
    width: 90%;
    margin-top: 50px;
}

h1 { color: #8e735b; text-align: center; }
.subtitle { text-align: center; color: #a0a0a0; margin-bottom: 30px; }

.sucursal-card {
    background: white;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
    text-align: center;
    border: 1px solid #f1ece8;
}

.btn-reservar {
    display: inline-block;
    background-color: #d4a373;
    color: white;
    padding: 12px 30px;
    text-decoration: none;
    border-radius: 25px;
    font-weight: 600;
    transition: 0.3s;
}

.btn-reservar:hover { background-color: #b88a5d; }

/**************************************************/

form {
    background: white;
    padding: 20px;
    border-radius: 15px;
    text-align: left;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: 600;
    color: #8e735b;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 8px;
    border: 1px solid #ddd;
    box-sizing: border-box; /* Importante para que no se salga de la caja */
}